<web-app>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>com.solomatoff.crudservlet.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>
